In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("spotify_millsongdata.csv")

In [39]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [40]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [41]:
df.shape

(57650, 4)

In [42]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [43]:
df =df.sample(5000).drop('link',axis =1).reset_index(drop=True)

In [44]:
df.head(5)

,artist,song,text
0,Supertramp,Don't Leave Me Now,Don't leave me now \r\nLeave me out in the po...
1,Loretta Lynn,Manhattan Kansas,Manhattan Kansas ain't no place to have a baby...
2,Michael Buble,Have Yourself A Merry Little Christmas,Have yourself a merry little Christmas \r\nLe...
3,Blur,Trimm Trabb,I got no style \r\nI'll take my time \r\nAll...
4,Nitty Gritty Dirt Band,I've Been Looking,I've been lookin' for a love \r\nSomeone to h...

In [45]:
df['text'][0]

"Don't leave me now  \r\nLeave me out in the pouring rain  \r\nWith my back against the wall  \r\nDon't leave me now  \r\nDon't leave me now  \r\nLeave me out with nowhere to go  \r\nAnd the shadows start to fall  \r\nDon't leave me now  \r\nDon't leave me now  \r\nLeave me out on this lonely road  \r\nAs the wind begins to howl  \r\nDon't leave me now  \r\nDon't leave me now  \r\nAll alone on this darkest night  \r\nFeeling old and cold and grey  \r\nDon't leave me now  \r\n  \r\nDon't leave me now  \r\nLeave me holding an empty heart  \r\nAs the curtain starts to fall  \r\nDon't leave me now  \r\nDon't leave me now  \r\nAll alone in this crazy world  \r\nWhen I'm old and cold and grey and time is gone\r\n\r\n"

In [46]:
df.shape

(5000, 3)

### Text Cleaning

In [47]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True)

In [48]:
df.tail(5)

,artist,song,text
4995,Ella Fitzgerald,Blue Skies,blue skies smilin' at me \r nothin' but blue ...
4996,Red Hot Chili Peppers,If You Have To Ask,a want to be gangster \r thinkin' he's a wise...
4997,Arrogant Worms,I Am Not American,"i am not american, \r though i live in north ..."
4998,Unkle,Hold My Hand,hold my hand \r i need you now \r slow me do...
4999,Proclaimers,Everybody's A Victim,everybody's a victim \r seems we're going tha...

In [49]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

In [50]:
def token(txt):
  token = nltk.word_tokenize(txt)
  a =[stemmer.stem(w) for w in token]
  return " ".join(a)

In [51]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\saite\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [52]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [53]:
df['text'].apply(lambda x:token(x))

0       do n't leav me now leav me out in the pour rai...
1       manhattan kansa ai n't no place to have a babi...
2       have yourself a merri littl christma let your ...
3       i got no style i 'll take my time all those lo...
4       i 've been lookin ' for a love someon to hold ...
                              ...
4995    blue sky smilin ' at me nothin ' but blue sky ...
4996    a want to be gangster thinkin ' he 's a wise g...
4997    i am not american , though i live in north ame...
4998    hold my hand i need you now slow me down i do ...
4999    everybodi 's a victim seem we 're go that way ...
Name: text, Length: 5000, dtype: object

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
tfid =TfidfVectorizer(analyzer='word',stop_words='english')

In [56]:
matrix = tfid.fit_transform(df['text'])

In [57]:
cosine_similarity(matrix)

array([[1.        , 0.00184662, 0.00166284, ..., 0.        , 0.04127283,
        0.00613179],
       [0.00184662, 1.        , 0.0035468 , ..., 0.01265622, 0.        ,
        0.0075968 ],
       [0.00166284, 0.0035468 , 1.        , ..., 0.00309261, 0.00273087,
        0.0014087 ],
       ...,
       [0.        , 0.01265622, 0.00309261, ..., 1.        , 0.00122994,
        0.01128518],
       [0.04127283, 0.        , 0.00273087, ..., 0.00122994, 1.        ,
        0.0143529 ],
       [0.00613179, 0.0075968 , 0.0014087 , ..., 0.01128518, 0.0143529 ,
        1.        ]])

In [58]:
similer = cosine_similarity(matrix)

In [59]:
similer[0]

array([1.        , 0.00184662, 0.00166284, ..., 0.        , 0.04127283,
       0.00613179])

### Recommender Function

In [60]:
def recommender(song_name):
  idx = df[df['song'] == song_name].index[0]
  distance = sorted(list(enumerate(similer[idx])),reverse=True,key=lambda x:x[1])
  song = []

  for s_id in distance[1:5]:
    song.append(df.iloc[s_id[0]].song)
  return song

In [61]:
import pickle

In [68]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import nltk
from nltk.stem.porter import PorterStemmer
import pickle

# Load and preprocess data
df = pd.read_csv("spotify_millsongdata.csv")
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

# Text Cleaning
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex=True)
nltk.download('punkt')
stemmer = PorterStemmer()

def token(txt):
    tokenized = nltk.word_tokenize(txt)
    stemmed = [stemmer.stem(w) for w in tokenized]
    return " ".join(stemmed)

df['text'] = df['text'].apply(lambda x: token(x))

# Vectorize and calculate similarity
tfid = TfidfVectorizer(analyzer='word', stop_words='english')
matrix = tfid.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

# Save similarity and df as .pkl files
with open('similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)

with open('df.pkl', 'wb') as f:
    pickle.dump(df, f)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\saite\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!